* {
	margin: 0;
}

.Homepage {
	background-color: rgb(73, 94, 87);
	padding: 0.5rem;
}
.title {
	padding: 0.5rem;
	color: #f4ce14;
}
.subTitle {
	padding: 0.25rem;
	color: #edefee;
}
.description {
	padding: 0.25rem;
	color: #edefee;
}
.reserveBtn {
	background-color: #f4ce14;
	padding: 0.5rem;
	margin: 0.5rem;
	font-size: 1rem;
	font-weight: bold;
}
.reserveBtn :hover {
	color: #edefee;
}
.homePagePic {
	align-items: end;
}
