.section {
	display: flex;
	flex: 1;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 1.5%;
	gap: 2rem 1rem;
}
.sub-section {
	background-color: #fbdabb;
	border-radius: 1rem;
	border: 1px solid black;
	justify-items: stretch;
	margin-left: 1%;
	margin-right: 0.5%;
}

h1 {
	font-size: 1.5rem;
	text-align: center;
	margin-top: 0.5rem;
}
p {
	font-size: 1rem;
	padding: 1rem;
}
.openHours {
	list-style: none;
	margin-bottom: 0.5rem;
}
.openHours li {
	text-align: center;
}
